#exhAndInfoSeparator {
    margin-top: 10px;
}

.vertical-separator {
    background-color: #666666;
    width: 1px;
    height: 98%;
}

.horizontal-separator {
    background-color: #666666;
    width: 100%;
    height: 1px;
}