#dataTreeList {
    color: white;
    float: left;
    padding-left: 4%;
    width: 80%;
}

#dataTreeListSeparator {
    float: right;
    margin-right: 2%;
}

#listTitle {
    height: 8%;
}

#listTitle, .tree-container, .update-time-container{
    width: 100%;
}

.scroll-container {
    overflow: auto;
}

.tree-container {
    background-color: white;
    height: 77%;
}

.update-time-container {
    height: 15%;
}

.update-time-label-container, .time-area {
    float: left;
    background-color: #D7D7D7;
    color: black;
    width: 50%;
    height: 100%;
}

.update-time-label-container {
    padding-left: 6%;
}

.time-area {
    padding-top: 4%;
}