#displayBoards {
    color: white;
    padding-left: 6%;
    padding-right: 6%;
}

.display-board {
    background-color: #434343;
    width: 80%;
    height: 140px;
    margin: 3%;
    padding: 2% 6%;
}

.board-title {
    font-weight: bold;
    font-size: 150%;
    height: 25%;
}

.board-text {
    color: cornflowerblue;
    height: 45%;
}

.learn-more-btn {

}