.my-menu, .my-dp-menu {
    background-color: black;
}

.my-menu {
    float: left;
    margin: 0 5%;
}

.my-item, .btn-black {
    color: white;
    background-color: black;
    border-color: black;
}

.btn-black:hover, btn-black:focus, .btn-black:active,
.open .dropdown-toggle.btn-black,
.my-item:hover, .my-item:focus, .my-item:active {
    color: white;
    background-color: #363636;
    border-color: black;
}