.my-textTitle {
    color: #363636;
    text-align: center;
    font-family: Bahnschrift;
    /*font-size:smaller;*/
    background-color: #9e9e9e30;


}

.my-textInfo {
    color: #363636;
    text-align: center;
    font-size: 12px;
}

.my-previewImg {
    text-align: center;
    background-color: white;
    margin: auto;
}

.my-textBody {
    background-color: white;
    /*background-color: #fff;*/
    /*border-radius: 20px;*/
    position: absolute;
    left: 20%;
    right: 20%;
    top: auto;
    /*margin: -50px 0 0 -50px;*/

}

